## Import necessary libraries

In [72]:
import sqlite3
import pandas as pd
from pathlib import Path
import numpy as np

## Defining the path to the database and connecting to the database

In [109]:
db_path = Path(r'n:\Projects\11209000\11209353\B. Measurements and calculations\008 - Resultaten Proefvlucht\ZZL\7-2\databases\database_bekleding_bovengrens\traject_7_2.db')
conn = sqlite3.connect(db_path)

## Obtain a list of all tables in the database

In [115]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

print("The database consists of the following", len(tables), "tables:")
print(tables)

The database consists of the following 35 tables:
                               name
0                   DikeTrajectInfo
1                       SectionData
2                         Mechanism
3               MechanismPerSection
4         AssessmentMechanismResult
5           AssessmentSectionResult
6                   ComputationType
7               ComputationScenario
8                         SlopePart
9            BlockRevetmentRelation
10                        Buildings
11          CharacteristicPointType
12                   CombinableType
13     ComputationScenarioParameter
14                      MeasureType
15                          Measure
16                    CustomMeasure
17           CustomMeasureParameter
18           GrassRevetmentRelation
19                MeasurePerSection
20                    MeasureResult
21           MeasureResultMechanism
22           MeasureResultParameter
23             MeasureResultSection
24                   MechanismTable
25                 OptimizationType
26                  OptimizationRun
27      OptimizationSelectedMeasure
28                 OptimizationStep
29  OptimizationStepResultMechanism
30    OptimizationStepResultSection
31                     ProfilePoint
32                  StandardMeasure
33                   SupportingFile
34                   WaterlevelData

In [91]:
# We want to receive an overview of which measures are taken for the (VRM) or the Doorsnede-Eisen
# Methode (DEM)

## Retrieving the types of optimization

In [116]:
table_name_id = 26 # this is the OptimizationRun
sql_query = 'SELECT * FROM {}'.format(tables.iloc[table_name_id].values[0])
optimization_type = pd.read_sql_query(sql_query, conn)
optimization_type_dict = dict(zip(optimization_type["name"], optimization_type["optimization_type_id"]))
print(optimization_type_dict)

{'Basisberekening Veiligheidsrendement': 1, 'Basisberekening Doorsnede-eisen': 2}

## Retrieve from the database tab "OptimizationSelectedMeasure" the id and investment_year 
###  optimization_run_id = 1 for VRM, 
### optimization_run_id = 2 for DSM

In [117]:
optimization_run_id = 1 
sql_query = 'SELECT * FROM OptimizationSelectedMeasure WHERE optimization_run_id = {}'.format(optimization_run_id)
selected_optimization_measure = pd.read_sql_query(sql_query, conn)
selected_optimization_measure.head()

   id  optimization_run_id  measure_result_id  investment_year
0   1                    1                  1                0
1   2                    1                  1               20
2   3                    1                  2                0
3   4                    1                  2               20
4   5                    1                  3                0

## create a list of ids in the selected_optimization_measure

In [118]:
selected_measure_ids = selected_optimization_measure["id"].tolist()

## Retrieve from the database tab "OptimizationStep" all rows where optimization_selected_measure_id is in selected_measure_ids

In [119]:
sql_query = 'SELECT * FROM OptimizationStep WHERE optimization_selected_measure_id IN ({})'.format(
    ', '.join([str(i) for i in selected_measure_ids]))
optimization_step = pd.read_sql_query(sql_query, conn)
# sort optimizationStep by id
optimization_step = optimization_step.sort_values(by="id")
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk
7,1,399,1,8.248762e+04,5.078556e+11
67,2,3148,2,5.096304e+05,4.795481e+11
79,3,3467,3,1.435300e+06,4.413895e+11
5,4,355,4,1.476544e+06,4.138515e+11
66,5,3143,5,1.690116e+06,3.944441e+11

## retrieve from the database tab "OptimizationSelectedMeasure" all rows where optimization_selected_measure_id is in selected_measure_ids

In [122]:
sql_query = 'SELECT * FROM OptimizationSelectedMeasure WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["optimization_selected_measure_id"].tolist()]))
optimization_selected_measure = pd.read_sql_query(sql_query, conn)
optimization_selected_measure.head()

    id  optimization_run_id  measure_result_id  investment_year
0    3                    1                  2                0
1  312                    1                168                0
2  314                    1                170                0
3  315                    1                171                0
4  317                    1                173                0

## add the measure_result_id + investment_year to the optimization_step dataframe. These can be found in the 
## optimization_selected_measure dataframe

In [123]:
optimization_step = pd.merge(optimization_step, optimization_selected_measure[["id", "measure_result_id", "investment_year"]],
                                left_on="optimization_selected_measure_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year
0,1,399,1,8.248762e+04,5.078556e+11,255,0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0
3,4,355,4,1.476544e+06,4.138515e+11,211,0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0

In [124]:
# print how many investments are done in year t = 0 and t = 20
print("investments done in year t=0:")
print(np.sum(optimization_step.investment_year==0))
print("investments done in year t=20:")
print(np.sum(optimization_step.investment_year==20))

investments done in year t=0:
448
investments done in year t=20:
23

## Add MeasureResult where id matches optimization_step["measure_result_id"] to the optimization_step dataframe
## Then, add the "name" column from the measure_result dataframe to the optimization_step dataframe

In [125]:
sql_query = 'SELECT * FROM MeasureResult WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result = pd.read_sql_query(sql_query, conn)

optimization_step = pd.merge(optimization_step, measure_result[["id", "measure_per_section_id"]],
                                left_on="measure_result_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54

In [126]:
# add MeasurePerSection where id matches optimization_step["measure_per_section_id"] to the optimization_step dataframe
sql_query = 'SELECT * FROM MeasurePerSection WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_per_section_id"].tolist()]))
measure_per_section = pd.read_sql_query(sql_query, conn)
# add the "section_id", "measure_id" column from the measure_per_section dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, measure_per_section[["id", "section_id", "measure_id"]],
                                left_on="measure_per_section_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8

In [127]:
# Where id in SectionData matches section_id in optimization_step dataframe, add the "section_name" column to the
# optimization_step dataframe
sql_query = 'SELECT * FROM SectionData WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["section_id"].tolist()]))
section_data = pd.read_sql_query(sql_query, conn)
# add the "section_name" column from the section_data dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, section_data[["id", "section_name"]],
                                left_on="section_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
# rename the "id_x" column to "id"
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11

In [128]:
# Where id in Measure matches measure_id  in optimization_step dataframe, add all columns (except id) to the
# optimization_step dataframe
sql_query = 'SELECT * FROM Measure WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_id"].tolist()]))
measure = pd.read_sql_query(sql_query, conn)
# add the "section_name" column from the section_data dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, measure, left_on="measure_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
# rename the "id_x" column to "id"
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0

## Now we want to find the parameters corresponding the measure_result_id and add them to the dataframe.
### First, we add all parameters to the dataframe as a column
### After that, add "empty" columns to the optimization_step dataframe that contain -999.0 values. 
### These values will be later replaced with the parameters

In [132]:
sql_query = 'SELECT DISTINCT name FROM MeasureResultParameter'
measure_result_parameter = pd.read_sql_query(sql_query, conn)
print(measure_result_parameter["name"].tolist())

for name in measure_result_parameter["name"].tolist():
    optimization_step[name] = -999.0

optimization_step.head()

['DCREST', 'DBERM', 'BETA_TARGET', 'TRANSITION_LEVEL']

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0

In [133]:
# now find for each id in optimization_step database where "measure_result_id" corresponds with "measure_result_id" in
# MeasureResultParameter. If the name in the column "name" in MeasureResultParameter corresponds with a column in
# optimization_step, fill the value from the "value" column in MeasureResultParameter in the corresponding column in
# optimization_step 
sql_query = 'SELECT * FROM MeasureResultParameter WHERE measure_result_id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result_parameter = pd.read_sql_query(sql_query, conn)
for index, row in measure_result_parameter.iterrows():
    if row["name"] in optimization_step.columns:
        optimization_step.loc[optimization_step["measure_result_id"] == row["measure_result_id"], row["name"]] = row["value"]
        
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90

In [149]:
# find the cost from MeasureResultSection where the measure_result_id matches measure_result_id in optimization_step df
# Then select only the cost where time = 0 and add these to a new column in optimization_step
sql_query = 'SELECT * FROM MeasureResultSection WHERE measure_result_id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result_section = pd.read_sql_query(sql_query, conn)
measure_result_section = measure_result_section[measure_result_section["time"] == 0] # klopt het om time=0 te gebruiken, of moet time gelijk zijn aan investment_year?
optimization_step = pd.merge(optimization_step, measure_result_section[["measure_result_id", "cost"]],
                                left_on="measure_result_id", right_on="measure_result_id", how="left")
# rename cost to standalone_cost
optimization_step = optimization_step.rename(columns={"cost": "standalone_cost"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,cost
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50,82487.617481
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65,427142.793164
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49,925669.952363
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75,123731.426221
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90,640714.189747

In [173]:
# get a list of the unique sorted section_id in optimization_step
section_id_list = np.sort(optimization_step["section_id"].unique())
print(section_id_list)
# get a list of the unique sorted measure_type_id in optimization_step
measure_type_id_list = np.sort(optimization_step["measure_type_id"].unique())
print(measure_type_id_list)

# now add a column "marginal_cost" to optimization_step and fill it with the value -999.0
optimization_step["marginal_cost"] = -999.0
# for each section_id in section_id_list, find the rows in optimization_step where section_id == section_id. The 
# marginal_cost is the difference between the standalone_cost of the current row and the standalone_cost of the previous
# with the same measure_type_id. If there is no previous row with the same measure_type_id, the marginal_cost is the same
# as the standalone_cost. Fill the marginal_cost column with the calculated values.
for section_id in section_id_list:
    for measure_type_id in measure_type_id_list:
        mask = (optimization_step["section_id"] == section_id) & (optimization_step["measure_type_id"] == measure_type_id)
        optimization_step.loc[mask, "marginal_cost"] = optimization_step[mask]["standalone_cost"].diff()
        optimization_step.loc[mask, "marginal_cost"] = optimization_step[mask]["marginal_cost"].fillna(optimization_step[mask]["standalone_cost"])

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35]
[1 6]

In [174]:
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,check_cost,marginal_cost
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50,82487.617481,8.248762e+04,82487.617481
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65,427142.793164,5.096304e+05,427142.793164
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49,925669.952363,1.435300e+06,925669.952363
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75,123731.426221,1.559032e+06,41243.808740
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90,640714.189747,2.199746e+06,213571.396582

In [198]:
# copy optimization_step to a new dataframe called "df_copy"
df_copy = optimization_step.copy()
# sort by optimization_selected_measure_id
df_copy = df_copy.sort_values(by="step_number")
# print df_copy where optimization_selected_measure_id ==703
print(df_copy[df_copy["section_id"] == 1])

      id  optimization_selected_measure_id  step_number     total_lcc  \
0      1                               399            1  8.248762e+04
3      4                               355            4  1.476544e+06
41    42                               386           41  8.080112e+06
92    93                               312           86  1.562351e+07
103  104                               314           95  1.671242e+07
115  116                               315          105  1.824316e+07
159  160                               407          130  2.816120e+07
302  303                                 3          212  1.452530e+08
303  304                               317          212  1.452530e+08

       total_risk  measure_result_id  investment_year  measure_per_section_id  \
0    5.078556e+11                255                0                       6
3    4.138515e+11                211                0                       6
41   8.321021e+10                242                0                       6
92   1.380006e+10                168                0                       6
103  9.182344e+09                170                0                       6
115  6.497689e+09                171                0                       6
159  4.718919e+09                263                0                       6
302  8.408306e+07                  2                0                       1
303  8.408306e+07                173                0                       6

     section_id  measure_id  ... combinable_type_id  \
0             1           8  ...                  4
3             1           8  ...                  4
41            1           8  ...                  4
92            1           8  ...                  4
103           1           8  ...                  4
115           1           8  ...                  4
159           1           8  ...                  4
302           1           1  ...                  2
303           1           8  ...                  4

                              name  year DCREST  DBERM  BETA_TARGET  \
0             Aanpassing bekleding     0 -999.0 -999.0     5.248081
3             Aanpassing bekleding     0 -999.0 -999.0     2.998904
41            Aanpassing bekleding     0 -999.0 -999.0     4.498355
92            Aanpassing bekleding     0 -999.0 -999.0     0.749726
103           Aanpassing bekleding     0 -999.0 -999.0     0.749726
115           Aanpassing bekleding     0 -999.0 -999.0     0.749726
159           Aanpassing bekleding     0 -999.0 -999.0     5.248081
302  Grondversterking binnenwaarts     0    0.0    5.0  -999.000000
303           Aanpassing bekleding     0 -999.0 -999.0     0.749726

     TRANSITION_LEVEL  standalone_cost  marginal_cost  check_cost_total
0                0.50     8.248762e+04   8.248762e+04      8.248762e+04
3                0.75     1.237314e+05   4.124381e+04      1.476544e+06
41               1.00     1.649752e+05   4.124381e+04      8.080112e+06
92               1.25     2.062190e+05   4.124381e+04      1.562351e+07
103              1.75     2.887067e+05   8.248762e+04      1.671242e+07
115              2.00     3.299505e+05   4.124381e+04      1.824316e+07
159              2.50     4.124381e+05   8.248762e+04      2.977791e+07
302           -999.00     1.483023e+06   1.483023e+06      1.481816e+08
303              2.50     4.124381e+05   0.000000e+00      1.481816e+08

[9 rows x 22 columns]

In [196]:
# determine the total cost as a check. Per step_number add the total costs from the previous step
optimization_step["check_cost_total"] = -999.0
# loop through the unique and sorted values of step_number in optimization_step
for step_number in np.sort(optimization_step["step_number"].unique()):
    # sum marginal costs of the current step_number
    step_cost = optimization_step[optimization_step["step_number"] == step_number]["marginal_cost"].sum()
    # fill the check_cost_total column with the calculated values + the check_cost_total of the previous step_number
    # if there is no previous step_number, fill the check_cost_total with the calculated value
    if step_number == 1:
        optimization_step.loc[optimization_step["step_number"] == step_number, "check_cost_total"] = step_cost
    else:
        optimization_step.loc[optimization_step["step_number"] == step_number, "check_cost_total"] = step_cost + optimization_step[optimization_step["step_number"] == step_number - 1]["check_cost_total"].values[0]

1483023.0
145253005.46042997
143769982.46042997

In [199]:
print(optimization_step[optimization_step["step_number"] == 212]["total_lcc"].values[0] - optimization_step[optimization_step["step_number"] == 211]["total_lcc"].values[0])
print(optimization_step[optimization_step["step_number"] == 212]["total_lcc"].values[0])
print(optimization_step[optimization_step["step_number"] == 211]["total_lcc"].values[0])

print(optimization_step[optimization_step["step_number"] == 212]["check_cost_total"].values[0] - optimization_step[optimization_step["step_number"] == 211]["check_cost_total"].values[0])
print(optimization_step[optimization_step["step_number"] == 212]["check_cost_total"].values[0])
print(optimization_step[optimization_step["step_number"] == 211]["check_cost_total"].values[0])

1483023.0
145253005.46042997
143769982.46042997
1483023.0
148181550.31879115
146698527.31879115

In [200]:
optimization_step

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost,check_cost_total
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,5.248081,0.50,8.248762e+04,82487.617481,8.248762e+04
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,3.748238,3.65,4.271428e+05,427142.793164,5.096304e+05
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,0.746078,3.49,9.256700e+05,925669.952363,1.435300e+06
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,2.998904,0.75,1.237314e+05,41243.808740,1.476544e+06
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,2.998381,3.90,6.407142e+05,213571.396582,1.690116e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,467,703,295,2.426556e+08,3.380783e+07,415,0,12,2,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.821829,2.05,0.000000e+00,0.000000,2.566556e+08
467,468,6411,296,2.428164e+08,3.379143e+07,3785,0,109,19,1,...,2,Grondversterking binnenwaarts,0,1.00,8.0,-999.000000,-999.00,2.649165e+06,160767.360000,2.568164e+08
468,469,6696,296,2.428164e+08,3.379143e+07,3960,0,114,19,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.988586,4.60,1.830285e+06,0.000000,2.568164e+08
469,470,3577,297,2.437955e+08,3.369290e+07,2112,0,61,11,1,...,2,Grondversterking binnenwaarts,0,0.75,5.0,-999.000000,-999.00,5.956928e+06,979055.397583,2.577955e+08
470,471,3873,297,2.437955e+08,3.369290e+07,2289,0,66,11,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.712822,4.50,5.304726e+06,0.000000,2.577955e+08

In [88]:
# Closing the connection to the database
# conn.close()